body
        {
            margin: 0;
            overflow-x: hidden;
        }
        *{
            -webkit-user-select:none;
            user-select:none;
        }
        #underlay
        {
            position: fixed;
            width: 500vw;
            height:auto;
            min-height: 100vh;
            background-image: url("landing.img/b50.png");
        }
        #underlay>img
        {
            width: 100vw;
            height: auto;
            position: relative;
        }
        #underlay>div
        {
            width: 100vw;
            height:100vh;
            position: fixed;
            top:0;
            left: 0;
            z-index:+1;
            background: rgba(0,0,0,0.4);
        }
        #world>.slide
        {
            width: 100%;
            height:120vh;
            display: block;
            margin: 0;
            position: relative;
        }
        #world
        {
            width:100%;
        }
        ::-webkit-scrollbar
        {
            display: none;
        }
        #titling
        {
            color:hsla(0,100%,90%,1);
            display: block;
            cursor:default;
            font-family: 'Proxima Nova';
            font-weight: 400;
            letter-spacing: 0.6em;
            font-size: 23px;
            width: 50vh;
            margin-left: -25vh;
            left:50%;
            text-align: center;
            z-index: +10;
            position: absolute;
            margin-top:-25vh;
            top:50vh;
            height: 50vh;
            line-height: 50vh;
            transform: translateX(0.3em);
            transition:all 0.5s ease-in-out;
            animation:fadeIn 1s 1 ease-in-out; 
        }
        #titling.playered
        {
            opacity: 0;
        }
        @-webkit-keyframes fadeIn
        {
            0%{
                transform: scale(0.9) translateX(0.3em);
                opacity: 0;
            }
            100%{
                transform: scale(1 translateX(0.3em));
                opacity: 1;
            }
        }
        #titling>span
        {
            padding: 0;
        }
        #titlePlexus
        {
            position: fixed;
            top:0;
            left: 0;
        }
        #titleArray
        {
            position: absolute;
            top:0;
            left: 0;
        }
        .slide.content
        {
            background: linear-gradient(transparent,rgba(255,255,255,0.1),transparent);
            overflow: hidden;
        }
        .slide.content>div
        {
            width:100%;
            height:100%;
            background: rgba(0,0,0,0);
        }
        #world>.content:nth-child(odd)
        {
            width:120vw;
            margin-left:-60vw;
            left:50%;
        }
        #world>.content:nth-child(even)
        {
            width:100vw;
        }
        #nav
        {
            position: fixed;
            left:0;
            padding: 0px 50px;
            top:50%;
            z-index: +500;
            cursor: pointer;
        }
        #nav>li
        {
            background:rgba(255,255,255,0.8);
            list-style-type: none;
            border-radius:50%;
            position: absolute;
            height: 4px;
            width: 4px;
            margin:-2px;
            transition:left 0.5s cubic-bezier(0, 0, 0, 1.44),top 0.5s cubic-bezier(0, 0, 0, 1.44),transform 0.4s linear, background 0.4s;
            cursor:pointer;
            left:50px;
            transform: scale(1);
        }
        #nav>li:hover
        {
            transform: scale(1.75);
        }
        #nav>li.init
        {
            transform: scale(0);
        }
        #nav>li.active
        {
            transform: scale(2);
        }
        #nav>li.activeSibling
        {
            transform: scale(1.25);
        }
        #nav>li:first-child
        {
            margin-top: 0px;
        }
        #nav>li:last-child
        {
            margin-bottom: 0px;
        }
        #buttonContext
        {
            position: absolute;
            color:rgba(255,255,255,0.7);
            top:50%;
            height: 50px;
            width: 150px;
            margin-top:-47px;
            transition:all 0.5s;
            margin-left:-205px;
            text-align: center;
            line-height: 50px;
            font-size: 50px;
            border-radius: 50%;
            /*border:1px solid rgba(255,255,255,0.5);*/
            z-index:+10;
        }
        #audioData
        {
            height:50vh;
            width:50vh;
            text-align: center;
            font-family: 'Proxima Nova';
            font-size: 15px;
            font-weight: 200;
            color: rgba(255,255,255,0.7);
            position: absolute;
            top:25vh;
            left: 50%;
            line-height: 5vh;
            opacity: 0;
            margin-left: -25vh;
            transition:all 0.5s;
            z-index: +100;
        }
        #audioData>span
        {
            width: 100%;
            height:5vh;
            display: block;
            transition: all 0.2s;
            cursor: pointer;
        }
        #audioData>.title
        {
            font-size: 18px;
            margin-top:17.5vh;
            color:rgba(255,255,255,0.8);
            font-weight: 400;
        }
        #audioData>.artist
        {
            font-size: 13px;
            color:rgba(200,200,200,0.7);
        }
        #audioData>.artist:hover,#audioData>.album:hover
        {
            text-decoration: underline;
        }
        #audioData>.album
        {
            font-size: 15px;
            color:rgba(200,200,200,0.7);
        }
        #buttonUp,#buttonDown
        {
            color:rgba(255,255,255,0.8);
            transform: rotateZ(90deg);
            width:150px;
            margin-left:-95px;
            top:50%;
            text-align: center;
            line-height: 100px;
            height: 100px;
            position: absolute;
            opacity: 1;
            transition:all 0.3s;
        }
        #buttonUp
        {
            margin-top:-145px;
        }
        #buttonDown
        {
            margin-top:4px ;
        }
        #buttonUp.inactive
        {
            margin-top:-115px;
            opacity:0;
        }
        #buttonDown.inactive
        {
            margin-top:-26px ;
            opacity: 0;
        }

/*Project Styling*/
        .project
        {
            width: 100vw;
            height:100vh;
        }
        .project>.top
        {
            display: block;
            width:100vw;
            height:100vh;
            -webkit-perspective:1500px;
            perspective: 1500px;
            -mz-perspective:1500px;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        }
        .project>.top>.screen
        {
            width:100vw;
            height:100vh;
            overflow: hidden;
            top:0;
            left: 0;
            
        }
        .project>.top>.screen>.picture
        {
            height:100%;
            width:100%;
            position: absolute;
            top:0;
            left: 0;
            box-shadow:0px 0px 0px 50vw rgba(140,39,39,0.7) inset;
            background-image: url("landing.img/ytredesign.jpg");
            background-size: cover;
            background-blend-mode:overlay;
        }
        .project>.bottom
        {
            height: 30vh;
            width:100vw;
            margin-top:30vh;
            position: absolute;
            top:0;
            left: 0;
        }
        .project>.bottom>span
        {
            display: block;
            text-align: center;
            color: white;
            padding:2.5vh 0px;
        }
        .project>.bottom>span.title
        {
            font-family: 'Proxima Nova';
            font-size: 10vh;
            font-weight: 600;
        }
        .project>.bottom>span.link
        {
            font-family: 'Proxima Nova';
            font-weight: 300;
            font-size: 2vh;
            letter-spacing: 0.6em;
            color:#ccc;
            cursor:pointer;
        }
        
    